<div class="container">
  <div class="jumbotron col-xs-12 col-lg-6">
    <p class="lead">
      Get started with our app to track you personal fitness goals!  Real time analytics, goal progress, and forecasting!
    </p>
    <a href="/users/sign_up" class="btn btn-primary">Get Started!</a>
  </div>
</div>
