<div class="col-xs-12 col-md-6">
  <h1>Settings</h1>
  <p>Add new measurement, view all past measurements in detail and view progress indicators, charts that show changes.</p>
  <%= react_component('Settings', {id: current_user.id}) %>
</div>
