<div class="col-xs-12 col-md-6">
  <h1>Measurements</h1>
  <p>Add new measurement, view all past measurements in detail and view progress indicators, charts that show changes.</p>
</div>

<div class="col-xs-12 col-md-6">
  <div class="well">cool charts here </div>
</div>

<div class="col-xs-12">
  <%= react_component('RecentMeasurements') %>
</div>
